@tailwind base;
@tailwind components;
@tailwind utilities;

/* Source Serif Pro Regular */
@font-face {
  font-family: "Source Serif Pro";
  src: url("/fonts/SourceSerifPro-Regular.otf") format("opentype");
  font-weight: 400;
}

/* Source Serif Pro SemiBold */
@font-face {
  font-family: "Source Serif Pro";
  src: url("/fonts/SourceSerifPro-SemiBold.otf") format("opentype");
  font-weight: 600;
}

/* Source Serif Pro Bold */
@font-face {
  font-family: "Source Serif Pro";
  src: url("/fonts/SourceSerifPro-Bold.otf") format("opentype");
  font-weight: 700;
}

/* Source Serif Pro Black */
@font-face {
  font-family: "Source Serif Pro";
  src: url("/fonts/SourceSerifPro-Black.otf") format("opentype");
  font-weight: 900;
}

/* IBM Plex Mono Bold */
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Bold.otf") format("opentype");
  font-weight: 700;
}

/* IBM Plex Mono SemiBold */
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-SemiBold.otf") format("opentype");
  font-weight: 600;
}

/* IBM Plex Mono Medium */
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Medium.otf") format("opentype");
  font-weight: 500;
}

/* IBM Plex Mono Regular */
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Regular.otf") format("opentype");
  font-weight: 400;
}

body::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;  /* 50% of the viewport width */
  height: 100vh;  /* 100% of the viewport height */
  background: rgb(255,255,255,.02);
  clip-path: polygon(0 100%, 100% 100%, 0 0);  /* Creates the triangle shape */
  z-index: -1;  /* Places the triangle behind the content */
}
